.SearchFormWrapper {
  margin-top: 20vh;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #eee;
}
.spinnerWrapper {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProfileWrapper {
  background: #eee;
}